<!-- Carousel -->

<section class="home section image-slider" id="home">
	<div class="home-slider text-center">
		<div class="swiper-wrapper">
			
			<% for (var i in site.data.home.banners) { %>
				<% if(site.data.home.banners[i].video != null) { %>
					<%- partial('_partial/banner/video', {banner: site.data.home.banners[i]}) %>
				<% } else { %>
					<%- partial('_partial/banner/image', {banner: site.data.home.banners[i]}) %>
				<% } %>
			<% } %>	
			

		</div>
		<div class="home-pagination"></div>
		<div class="home-slider-next right-arrow-negative"> <span class="ti-arrow-right"></span> </div>
		<div class="home-slider-prev left-arrow-negative"> <span class="ti-arrow-left"></span> </div>
	</div>
</section>
<!-- / Carousel -->


<section class="section-min section">
	<div class="container overflow-hidden">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-heading">Recent work</h3>
			</div>
			<div class="col-md-12">
				<div class="work-list-slider">
					<ul class="swiper-wrapper work-list work-list-vertical">
                                                
                    <% for (var i in site.data.work) { %>
                        <%- partial('_partial/recentWork', {work: site.data.work[i]}) %>
                    <% } %>	

					</ul>

					<!-- CAROUSEL CONTROLS -->
					<div class="work-list-pagination text-center"></div>
					<div class="work-list-slider-next right-arrow-negative">
						<span class="ti-arrow-right"></span>
					</div>

					<div class="work-list-slider-prev left-arrow-negative">
						<span class="ti-arrow-left"></span>
					</div>
					<!-- CAROUSEL CONTROLS -->
				</div>
			</div>
		</div>

	</div>
</section>

<!-- work MODAL -->
<div class="modal fade work-modal" id="work-01" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        
        <!-- MODAL CONTENT -->
        <div class="modal-content shadow">
            <a class="close" data-dismiss="modal"> <span class="ti-close"></span></a>
            <div class="modal-body">
                <!-- Wrapper for slides -->
                <div class="carousel slide work-slide" id="work-carousel">
                    <!-- CAROSUEL SLIDER -->
                    <div class="carousel-inner cont-slider">
                        <div class="item active"> <img alt="" src="img/work3.jpg" title=""> </div>
                        <div class="item"> <img alt="" src="img/work4.jpg" title=""> </div>
                        <div class="item"> <img alt="" src="img/work3.jpg" title=""> </div>
                        <div class="item"> <img alt="" src="img/work4.jpg" title=""> </div>
                    </div>
                    <!-- / CAROSUEL SLIDER -->
    
                    <!-- CAROUSEL INDICATORS -->
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0" data-target="#work-carousel"> 
                            <img alt="" src="img/work3.jpg"> 
                        </li>
    
                        <li class="" data-slide-to="1" data-target="#work-carousel"> 
                            <img alt="" src="img/work4.jpg"> 
                        </li>
    
                        <li class="" data-slide-to="2" data-target="#work-carousel"> 
                            <img alt="" src="img/work3.jpg"> 
                        </li>
    
                        <li class="" data-slide-to="3" data-target="#work-carousel"> 
                            <img alt="" src="img/work4.jpg"> 
                        </li>
                    </ol>
                    <!-- / CAROUSEL INDICATORS -->
                </div>
    
            </div>
        </div>
        <!-- / MODAL CONTENT -->
    </div>
    </div>


<%- partial('_partial/content/collection', {sections: site.data.home.sections}) %>


<section class="testimonials" id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-heading white-color">Testimonials</h3>
			</div>

			<div class="col-md-12 testimonials-slider text-center">
				<!-- CAROUSEL WRAPPER -->
				<div class="swiper-wrapper">
                                                
                    <% for (var i in site.data.testimonials) { %>
                        <%- partial('_partial/testimonials', {testimonial: site.data.testimonials[i]}) %>
                    <% } %>	

				</div>
				<!-- / CAROUSEL WRAPPER -->

				<!-- CAROUSEL CONTROLS -->
				<div class="testimonials-pagination"></div>
				<div class="testimonials-slider-next right-arrow-negative">
					<span class="ti-arrow-right"></span>
				</div>
				<div class="testimonials-slider-prev left-arrow-negative">
					<span class="ti-arrow-left"></span>
				</div>
				<!-- / CAROUSEL CONTROLS -->
			</div>
		</div>
	</div>
</section>

<%- partial('_partial/contact', {showMap: true}) %>